<footer class="content-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            Copyright&nbsp;&copy;
            <script>
                                    document.write(new Date().getFullYear())
            </script>
            BMSOFT&nbsp;263deals&trade;
        </div>
        <div>

            <a href="#" class="footer-link me-4" target="_blank">About Us</a>
            <a href="#" target="_blank" class="footer-link me-4">Settings</a>

            <a href="#" target="_blank" class="footer-link me-4">Privacy Policy</a>


            <a href="#" target="_blank" class="footer-link d-sm-inline-block">
                Terms And
                Conditions
            </a>

        </div>
    </div>
</footer>
